extends ./pug/page

block vars
  - let page = data.pages.about
  -
    const about = [
      {
        'title': '«ХочуТорт» это семейное дело',
        'field': [
          'Мы вместе занимаемся развитием нашей кондитерской. И для нас очень важно, чтобы вы прочувствовали нашу атмосферу. Главный принцип в работе: Мы ждем наших гостей к себе домой, отбирая всё лучшее и обращая внимание даже на мелкие детали.',
        ]
      }, {
        'title': 'Женя — создатель и главный драйвер «ХочуТорт»',
        'field': [
          'Я начинала свой путь с домашнего кондитера. Через несколько лет мы с мужем не побоялись рискнуть и открыть свое дело. И сейчас абсолютно вся линейка десертов в нашем кафе — моя работа. Я не просто руководитель. Я шеф-кондитер нашего заведения, поэтому с уверенностью приглашаю гостей — как к себе домой. Ведь, как хозяйка на кухне, отвечаю за качество и вкус.',
        ]
      }, {
        'title': 'Секрет успеха — верить в свою команду и не оставлять шанса на ошибку',
        'field': [
          'Мы постоянно трендвотчим "сладкий" бизнес и с особым трепетом отбираем каждого сотрудника. Для нас команда — фундамент, на котором держится всё остальное.',
        ]
      }
    ]

block content
  section(data-id="slideshow")
    +slides({
      name: 'slides--2',
      data: about,
      imagePath: 'slides2',
      slideCols: 2,
      count: true
    })

block scripts
