extends ./pug/page

block vars
  - let page = data.pages.about
  -
    const about = [
      {
        'title': 'Тёплая атмосфера и вкусная еда',
        'field': [
          'Наша главная задача — создание пространства, в котором Вы всегда можете приятно провести время, как с друзьями, так и в кругу семьи, попробовать новинки мирового кондитерского искусства и традиционные блюда итальянской кухни.',
        ]
      }, {
        'title': 'Скрембл в 18:00? Легко!',
        'field': [
          'Мы не ограничиваем Вас временными рамками. Хотите позавтракать вечером? — у Вас есть такая возможность. «Хочу Торт» — не только про десерты. Это ресторанное меню и подача блюд европейской кухни.',
        ]
      }, {
        'title': 'Мы нашли идеальный баланс',
        'field': [
          'Делать качественно и вкусно, из дорогих продуктов и за адекватные деньги. Соблюдая этот баланс, мы создаём максимально комфортные условия для наших гостей и не перестаём удивлять уровнем поварского искусства.',
        ]
      }
    ]

block content
  section(data-id="slideshow")
    +slides({
      name: 'slides--2',
      data: about,
      imagePath: 'slides2',
      slideCols: 2,
      count: true
    })

block scripts
