extends ./pug/page

block vars
  - let page = data.pages.about
  -
    const about = [
      {
        'title': '«ХочуТорт» это семейное дело',
        'field': [
          'Мы вместе занимаемся развитием нашей кондитерской. И для нас очень важно, что бы вы прочувствовали нашу атмосферу. Главный принцип в работе: Мы ждем наших гостей к себе домой, отбирая всё лучшее и обращая внимание даже на мелкие детали.',
        ]
      }, {
        'title': 'Женя — владелица кафе-кондитерской «ХочуТорт»',
        'field': [
          'Я начинала свой путь с домашнего кондитера. Через несколько лет мы с мужем не побоялись рискнуть и открыть свое дело. И сейчас абсолютна вся линейка десертов в нашем кафе – моя работа. Я не просто руководитель. Я шеф-кондитер нашего заведения, именно поэтому могу с уверенностью звать вас как к себе домой. Ведь я как хозяйка на кухне, отвечаю за качество и вкус.',
        ]
      }, {
        'title': 'Команда в нашем деле играет важную роль',
        'field': [
          'Мы с особым трепетом отбираем каждого сотрудника. Всегда отслеживаем все трендовые направления в нашем "сладком" бизнесе и отправляем сотрудников на различные обучения и повышения уровня квалификации. Для нас команда это фундамент, на котором держится всё остальное.',
        ]
      }
    ]

block content
  section(data-id="slideshow")
    +slides({
      name: 'slides--2',
      data: about,
      imagePath: 'slides2',
      slideCols: 2,
      count: true
    })

block scripts
