extends ./pug/page

block vars
  - let page = data.pages.menu
  -
    let menu = [
      {
        'title': 'Основные блюда',
        'field': [
          {
            'listTitle': 'Салаты',
            'listItems': [
              {
                'cost': 420,
                'text': 'Салат из морепродуктов с томатами, сельдереем и микс салатом'
              }, {
                'cost': 390,
                'text': 'Цезарь с цыпленком и хрустящим беконом'
              }, {
                'cost': 420,
                'text': 'Цезарь с креветками'
              }, {
                'cost': 450,
                'text': 'Цезарь с лососем'
              }, {
                'cost': 320,
                'text': 'Теплый салат с цыплёнком в соевом соусе с болгарским перцем, цукини и шампиньонами'
              }, {
                'cost': 420,
                'text': 'Микс из салатных листьев с яйцом пашот и ломтиками лосося'
              }, {
                'cost': 240,
                'text': 'Греческий салат'
              },
            ]
          }, {
            'listTitle': 'Супы',
            'listItems': [
              {
                'cost': 190,
                'text': 'Куриный суп с яичной лапшой и перепилиным яйцом'
              }, {
                'cost': [230, 320],
                'text': 'Томатный суп с базиликом/морепродуктами'
              }, {
                'cost': 290,
                'text': 'Сырный крем-суп с шампиньонами, подается с чесночными гренками'
              }
            ]
          }, {
            'listTitle': 'Горячие блюда',
            'listItems': [
              {
                'cost': 320,
                'text': 'Паста с курицей и грибами'
              }, {
                'cost': 320,
                'text': 'Пата с морепродуктами'
              }, {
                'cost': [260, 320],
                'text': 'Паста с соусом терияки с болгарским перцем,цукини и томатами черри/с курицей'
              }, {
                'cost': 330,
                'text': 'Паста карбонара'
              }
            ]
          }
        ]
      }, {
        'title': 'Завтраки',
        'field': [
          {
            'listItems': [
              {
                'cost': 120,
                'text': 'Омлет с жареными тостами, томатным соусом микс салатом'
              }, {
                'cost': [290, 195],
                'text': 'Яйцо бенедикт с голландским соусом и лососем/ветчиной'
              }, {
                'cost': 120,
                'text': 'Скрэмбл с жареными тостами, томатным соусом и микс салатом'
              }, {
                'cost': [145, 175],
                'text': 'Овсяная каша на кокосовом молоке с бананом/со свежими ягодами'
              }, {
                'cost': [130, 150],
                'text': 'Овсяная каша на молоке с бананом/со свежими ягодами'
              }, {
                'cost': 135,
                'text': 'Круассан шоколад с фундуком/миндальный'
              }, {
                'cost': 240,
                'text': 'Сырник с малиновым соусом/сметаной/медом/сгущенкой'
              }, {
                'cost': 280,
                'text': 'Сэндвич с тунцом и микс салатом'
              }, {
                'cost': 260,
                'text': 'Теплый римский сэндвич с ветчиной и нежным итальянским сыром'
              }, {
                'cost': 320,
                'text': 'Клаб сэндвич с курицей карри, беконом, томатами и яйцом'
              }, {
                'cost': 240,
                'text': 'Сырник с малиновым соусом/сметаной/медом/сгущенкой'
              }, {
                'cost': [230, 260],
                'text': 'Хрустящий драник с яйцом пашот и творожным сыром с беконом/с копченым лососем'
              }, {
                'cost': 260,
                'text': 'Гранола с греческим йогуртом малиновым соусом и свежими ягодами'
              }, {
                'cost': 200,
                'text': 'Омлет с сыром моцарелла и зеленью/ с ветчиной, сыром и зеленью/ с томатами, сыром фета и зеленью/ с жареными шампиньонами, сыром и зеленью'
              }, {
                'cost': 220,
                'text': 'Домашний паштет из куринной печени с джемом из черной смородины и хрустящими брускеттами'
              }, {
                'cost': 230,
                'text': 'Сэндвич с бужениной с соусом из сметаны и хрена, томатами и маринованным огурчиком'
              }, {
                'cost': 260,
                'text': 'Сэндвич с лососем творожным сыром, микс салатом и свежим огурцом'
              }, {
                'cost': 290,
                'text': 'Баклажаны запеченные с сыром моцарелла и томатами'
              },
            ]
          }
        ]
      }, {
        'title': 'Напитки',
        'field': [
          {
            'listTitle': 'Чай в чайнике',
            'listItems': [
               {
                'cost': [150, 250],
                'text': 'Ассам'
              }, {
                'cost': [150, 250],
                'text': 'Зелёная Сенча'
              }, {
                'cost': [150, 250],
                'text': 'Манго и Клубника'
              }, {
                'cost': [150, 250],
                'text': 'Жасминовый'
              }, {
                'cost': [150, 250],
                'text': 'Эрл Грей'
              }, {
                'cost': [150, 250],
                'text': 'Гибискус и красная ягода'
              }, {
                'cost': [150, 250],
                'text': 'Чабрец'
              }, {
                'cost': [190, 290],
                'text': 'Молочный улун'
              }, {
                'cost': [190, 290],
                'text': 'Восточная Сенча'
              },
            ]
          }, {
            'listTitle': 'Чайные завары',
            'listItems': [
               {
                'cost': [200, 300],
                'text': 'Облепиховый'
              }, {
                'cost': [200, 300],
                'text': 'Согревающий'
              }, {
                'cost': [200, 300],
                'text': 'Релакс-чай'
              }, {
                'cost': [200, 300],
                'text': 'Ягодный'
              },
            ]
          }, {
            'listTitle': 'Кофе',
            'listItems': [
               {
                'cost': 100,
                'text': 'Эспрессо'
              }, {
                'cost': 100,
                'text': 'Американо'
              }, {
                'cost': [150, 200],
                'text': 'Капучино 180/300 мл'
              }, {
                'cost': [180, 220],
                'text': 'Капучино на соевом молоке 180/300 мл'
              }, {
                'cost': [180, 220],
                'text': 'Капучино: кокосовый, миндальный 180/300 мл'
              }, {
                'cost': 170,
                'text': 'Моккачино'
              }, {
                'cost': 180,
                'text': 'Латте'
              }, {
                'cost': 200,
                'text': 'Латте на соевом молоке'
              }, {
                'cost': 240,
                'text': 'Матча-латте классический'
              }, {
                'cost': 260,
                'text': 'Матча-латте на соевом молоке'
              }, {
                'cost': 240,
                'text': 'Голубой матча-латте'
              }, {
                'cost': 260,
                'text': 'Голубой матча-латте на соевом молоке'
              }, {
                'cost': 210,
                'text': 'Лавандовый латте'
              }, {
                'cost': 210,
                'text': 'Розовый латте'
              }, {
                'cost': 180,
                'text': 'Гляссе'
              }, {
                'cost': 180,
                'text': 'Кофе по-венски'
              }, {
                'cost': 220,
                'text': 'Раф медовый, лавандовый, миндальный'
              }, {
                'cost': 210,
                'text': 'Фраппе классический'
              }, {
                'cost': 220,
                'text': 'Фраппе: лавандовый, миндальный, кокосовый'
              }, {
                'cost': 240,
                'text': 'Какао со взбитыми сливками и маршмэлло'
              }, {
                'cost': 110,
                'text': 'Флэт уайт'
              },
            ]
          }, {
            'listTitle': 'Коктейли безалкогольные',
            'listItems': [
               {
                'cost': 200,
                'text': 'Авторский'
              }, {
                'cost': 500,
                'text': 'Домашние лимонады 1500 мл'
              }, {
                'cost': 210,
                'text': 'Пина Колада'
              }, {
                'cost': 180,
                'text': 'Мохито (классический)'
              }, {
                'cost': 190,
                'text': 'Мохито (малина, клубника)'
              }, {
                'cost': 290,
                'text': 'Смузи банановый/клубничный'
              }, {
                'cost': [150, 500],
                'text': 'Домашний лимонад тархун Тархун 300/1500'
              }, {
                'cost': 130,
                'text': 'Соки Апельсин, Яблоко, Вишня, Ананас, Персик, Томатный, Морс'
              },
            ]
          }, {
            'listTitle': 'Фреши',
            'listItems': [
               {
                'cost': 220,
                'text': 'Апельсин'
              }, {
                'cost': 220,
                'text': 'Грейпфрут'
              }, {
                'cost': 220,
                'text': 'Лимон'
              }, {
                'cost': 220,
                'text': 'Лимон-апельсин'
              }, {
                'cost': 220,
                'text': 'Апельсин-грейпфрут'
              }, {
                'cost': 220,
                'text': 'Яблоко'
              }, {
                'cost': 220,
                'text': 'Морковь (подаётся со сливками)'
              }, {
                'cost': 220,
                'text': 'Яблоко-морковь'
              }, {
                'cost': 290,
                'text': 'Сельдерей'
              }, {
                'cost': 290,
                'text': 'Сельдерей-яблоко'
              },
            ]
          }, {
            'listTitle': 'Лимонады',
            'listItems': [
               {
                'cost': 130,
                'text': 'Апельсин'
              }, {
                'cost': 130,
                'text': 'Грейпфрут'
              }, {
                'cost': 130,
                'text': 'Лимон'
              }, {
                'cost': 130,
                'text': 'Лимон-апельсин'
              }, {
                'cost': 130,
                'text': 'Апельсин-грейпфрут'
              },
            ]
          }, {
            'listTitle': 'Молочные коктейли',
            'listItems': [
               {
                'cost': 190,
                'text': 'Ванильный'
              }, {
                'cost': 190,
                'text': 'Шоколадный'
              }, {
                'cost': 190,
                'text': 'Клубничный'
              }, {
                'cost': 190,
                'text': 'Карамельный'
              }, {
                'cost': 190,
                'text': 'Малиновый'
              }, {
                'cost': 190,
                'text': 'Банановый'
              },
            ]
          }
        ]
      }, {
        'title': 'Десерты',
        'field': [
          {
            'listItems': [
              {
                'cost': 180,
                'text': 'Торт «Наполеон»'
              }, {
                'cost': 240,
                'text': 'Торт «Эстерхази»'
              }, {
                'cost': 220,
                'text': 'Торт «Красный бархат»'
              }, {
                'cost': 240,
                'text': 'Кокосово-вишневый торт'
              }, {
                'cost': 220,
                'text': 'Киевский торт'
              }, {
                'cost': 225,
                'text': 'Торт «Чёрная смородина»'
              }, {
                'cost': 230,
                'text': 'Морковный торт'
              }, {
                'cost': 280,
                'text': 'Меренговый рулет с малиной'
              }, {
                'cost': 220,
                'text': 'Шоколадный торт «Сникерс»'
              }, {
                'cost': 210,
                'text': 'Медовик'
              }, {
                'cost': 220,
                'text': 'Трюфельный торт'
              }, {
                'cost': 240,
                'text': 'Чизкейк «Орео»'
              }, {
                'cost': 240,
                'text': 'Фисташковый чизкейк'
              }, {
                'cost': 240,
                'text': 'Чизкейк ванильный'
              }, {
                'cost': 255,
                'text': 'Сыроедческий черничный чизкейк'
              }, {
                'cost': 150,
                'text': 'Капкейк кокосовый с кокосовым кремом'
              }, {
                'cost': 150,
                'text': 'Шоколадный капкейк с шоколадным центром'
              }, {
                'cost': 150,
                'text': 'Ягодный капкейк с черничным кремом'
              }, {
                'cost': 150,
                'text': 'Фисташковый капкейк с малиновым джемом и фисташковым кремом'
              }, {
                'cost': 150,
                'text': 'Морковный капкейк с апельсиновой карамелью, грецким орехом и сливочным кремом'
              }, {
                'cost': 190,
                'text': 'Десерт «Павлова» ягодная/ вишневая'
              }, {
                'cost': 265,
                'text': '«Ягодная кростата»'
              }, {
                'cost': 260,
                'text': '«Американский пекановый пай»'
              }, {
                'cost': 240,
                'text': 'Тирамису'
              }, {
                'cost': 240,
                'text': '«Панна Котта»'
              }, {
                'cost': 240,
                'text': '«Трайфл шоколадный»'
              }, {
                'cost': 225,
                'text': 'Трайфл красный бархат'
              }, {
                'cost': 70,
                'text': 'Макарон'
              }, {
                'cost': 150,
                'text': 'Эклер с йогуртовым кремом/сникерс/малина-фисташка/ваниль/твикс/'
              }, {
                'cost': 120,
                'text': 'Трубочки со сырным кремом и вареным сгущенным молоком'
              }, {
                'cost': 300,
                'text': 'Орешки с варенной сгущенкой 12шт'
              }, {
                'cost': 360,
                'text': 'Орешки с варенной сгущенкой и грецким орехом 12 шт'
              }, {
                'cost': 380,
                'text': 'Домашняя карамель в ассортименте'
              }, {
                'cost': 60,
                'text': 'Мороженое сливочное'
              }, {
                'cost': 20,
                'text': 'Топпинг: шоколад, карамель, клубника, вишня, малина, банан, шоколадная крошка'
              }, {
                'cost': 80,
                'text': 'Домашний зефир в ассортименте'
              }, {
                'cost': 290,
                'text': 'Шоколад ручной работы в ассортименте'
              }, {
                'cost': 60,
                'text': 'Трюфель: кокос-клубника, лимон-лаванда, черничный, горький шоколад'
              }, {
                'cost': 80,
                'text': 'Корпусные шоколадные конфеты в ассортименте'
              }, {
                'cost': 120,
                'text': 'Кейкпопсы красный бархат/ванильный/шоколадный'
              },
            ]
          }
        ]
      },
    ]
  -
    const offers = [
      {
        'title': 'Завтраки целый день!',
        'field': 'Мы ждем вас с 10:00 до 22:00.'
      }, {
        'title': 'Торт в подарок!',
        'field': 'При заказе банкета от 7000 ₽ — торт в подарок!'
      }, {
        'title': 'Cезонное меню от нашего шеф-повара.',
        'field': 'Оcвежающие напитки и летние блюда.'
      }
    ]

//- http://linter.structured-data.org/examples/schema.org/Menu/
block content
  section(data-id="slideshow")
    +slides({
      name: 'slides--1',
      data: offers,
      slideCols: 1,
      count: true
    })
    +tabs({
      name: 'tabs--1',
      data: menu
    })

block scripts
