$w: min(20em, 100%);
$s: 0.5em;

.grid--masonry {
  display: grid;
  // grid-template-columns: repeat(auto-fit, min(10em, 100%));
  grid-template-columns: repeat(auto-fit, $w);
  grid-template-rows: masonry;
  justify-content: center;
  gap: $s;
  padding: $s;

  > * { align-self: start; }

  // > :first-child {
  //   grid-column: 1 / -1;
  //   picture { max-block-size: 50vh; }
  // }

  img {
    width: 100%;
    max-height: inherit;
    border-radius: 2px;

    // @supports not (grid-template-rows: masonry) {
    //   aspect-ratio: 3 / 4;
    // }
  }

  @supports not (grid-template-rows: masonry) {
    display: block;
    columns: 20em;
    max-inline-size: var(--container-lg);
    margin: 0 auto;

    figure {
      margin-block-end: $s;
      break-inside: avoid;
    }
  }
}

figure {
  display: grid;
  margin: 0;
  grid-template-rows: 1fr auto;

  > img {
    grid-row: 1 / -1;
    grid-column: 1;
  }
}
