@use '../config';

.review {
  --flow-space: var(--spacer-4);

  display: flex;
  inline-size: 100%;
  block-size: 100%;
  padding-block: 2ch;
  // padding-inline: 2ch;
  flex-direction: column;

  // border-radius: 0.5rem;
  // box-shadow: 0 0 0 1px var(--foreground) inset;
  justify-content: space-between;

  &__header {
    margin-block-start: var(--spacer-2);
  }

  &__header,
  &__content {
    text-align: center;
  }

  &__footer,
  &__author {
    display: flex;
    align-items: center;
  }

  &__footer { justify-content: center; }

  &__author {
    display: flex;
    align-items: center;

    &-avatar {
      --size: 2rem; // 2.5rem

      inline-size: var(--size);
      block-size: var(--size);
      overflow: hidden;
      background-color: var(--foreground);
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      border: 1px solid var(--accent);
      border-radius: 50%;

      flex: 0 0 var(--size);
    }

    &-name {
      @include config.line-clamp(1);

      display: inline-block;
      max-width: 10ch;
      margin-inline-start: 0.5rem;
      font-style: italic;
      opacity: 0.75;
    }
  }

  &__cite {
    display: inline-block;
    padding-inline-start: 0.5rem;
    margin-inline-start: 0.5rem;
    border-inline-start: 1px solid var(--accent);
    opacity: 0.75;
  }

  &__lead {
    @include config.line-clamp(3);

    padding-inline: var(--gutter);
    margin-inline: calc(var(--gutter) * -1);
    hyphens: manual;
  }

  &__content {
    --flow-space: var(--spacer-4);
    margin-block-start: var(--spacer-3);
  }
}
