@use './config';

.leaflet-container {
  overflow: hidden;
  color: var(--foreground);
  background: var(--background);
  outline: 0;
  touch-action: none;

  *,
  ::after,
  ::before { box-sizing: border-box; }

  .marker-description img { margin-bottom: 10px; }

  // a { color: var(--foreground); }

  .leaflet-marker-pane img,
  .leaflet-overlay-pane svg,
  .leaflet-tile-pane img,
  .leaflet-image-layer { max-width: none!important; }

  &.leaflet-touch-zoom {
    touch-action: pan-x pan-y;
  }
  &.leaflet-touch-drag { -ms-touch-action: pinch-zoom; }

  &.leaflet-touch-drag.leaflet-touch-drag {
    touch-action: none;
  }
}

.leaflet {
  &-image-layer,
  &-layer,
  &-map-pane canvas,
  &-map-pane svg,
  &-marker-icon,
  &-marker-shadow,
  &-pane,
  &-tile,
  &-tile-container,
  &-zoom-box {
    position: absolute;
    top: 0;
    left: 0;
  }

  &-marker-icon,
  &-marker-shadow,
  &-tile {
    user-select: none;

    /* autoprefixer: ignore next */
    -webkit-user-drag: none;
  }

  &-marker-icon,
  &-marker-shadow { display: block; }

  &-tile {
    visibility: hidden;
    filter: inherit;

    &-loaded { visibility: inherit; }

    .leaflet-zoom-box {
      z-index: 800;
      width: 0;
      height: 0;
    }
  }

  &-safari &-tile {
    /* autoprefixer: ignore next */
    image-rendering: -webkit-optimize-contrast;
  }

  &-safari &-tile-container {
    width: 1600px;
    height: 1600px;

    /* autoprefixer: ignore next */
    -webkit-transform-origin: 0 0;
  }

  &-overlay-pane svg {
    /* autoprefixer: ignore next */
    -moz-user-select: none;
  }
  &-map-pane canvas { z-index: 1; }
  &-map-pane svg { z-index: 2; }
  &-tile-pane { z-index: 2; }
  &-overlay-pane { z-index: 4; }
  &-shadow-pane { z-index: 5; }
  &-marker-pane { z-index: 6; }
  &-tooltip-pane { z-index: 7; }
  &-popup-pane { z-index: 8; }

  &-vml-shape {
    width: 1px;
    height: 1px;
  }

  &-control {
    position: relative;
    z-index: 800;
    float: left;
    clear: both;
    pointer-events: visiblePainted;
    pointer-events: auto;

    .leaflet-right & {
      float: right;
      margin-right: 10px;
    }
    .leaflet-top & { margin-top: 10px; }
    .leaflet-bottom & { margin-bottom: 10px; }
    .leaflet-left & { margin-left: 10px; }
  }

  &-bottom,
  &-top {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
  }

  &-top {
    top: 50%;
    transform: translateY(-50%);
  }

  &-right { right: 0; }
  &-bottom { bottom: 0; }
  &-left { left: 0; }

  &-fade-anim &-tile { will-change: opacity; }

  &-fade-anim &-popup {
    opacity: 0;
    transition: opacity 0.2s linear;
  }

  &-fade-anim &-map-pane &-popup { opacity: 1; }

  &-zoom-animated {
    transform-origin: 0 0;
  }

  &-zoom-anim &-zoom-animated {
    will-change: transform;
    transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  }

  &-pan-anim &-tile,
  &-zoom-anim &-tile {
    transition: none;
  }
  &-zoom-anim &-zoom-hide { visibility: hidden; }
  &-interactive { cursor: pointer; }

  &-grab { cursor: grab; }

  &-crosshair,
  &-crosshair .leaflet-interactive { cursor: crosshair; }

  &-control,
  &-popup-pane { cursor: auto; }

  &-dragging .leaflet-grab,
  &-dragging .leaflet-grab .leaflet-interactive,
  &-dragging .leaflet-marker-draggable {
    cursor: move;
    cursor: grabbing;
  }

  &-image-layer,
  &-marker-icon,
  &-marker-shadow,
  &-pane > svg path,
  &-tile-container { pointer-events: none; }

  &-image-layer.leaflet-interactive,
  &-marker-icon.leaflet-interactive,
  &-pane > svg .leaflet-interactive {
    pointer-events: visiblePainted;
    pointer-events: auto;
  }

  &-zoom-box {
    background: inherit;
    border: 0;
    opacity: 0.5;
  }

  &-bar,
  &-control-layers {
    background-color: transparent;
    border: 0;
    border-radius: 3px;
    box-shadow: none;
  }

  &-bar &-disabled {
    // opacity: 0.75;
    cursor: not-allowed;
    filter: grayscale(1);
  }

  &-control-zoom-in,
  &-control-zoom-out {
    display: block;
    text-indent: -999em;
    content: '';
    border: 0;
  }

  &-container &-control-attribution {
    padding: 5px 10px;
    margin: 0;
    font-size: 12px;
    line-height: 1.25;
    box-shadow: none;

    @media screen and (min-width: 21em) {
      font-size: 14px;
    }

    [data-theme-style='light'] & {
      background-color: hsl(var(--silver) / 0.5);
    }

    [data-theme-style='dark'] & {
      background-color: hsl(var(--dark-blue) / 0.5);
    }

    > a { font-style: italic; }
  }

  &-touch &-bar,
  &-touch &-control-layers {
    background-clip: padding-box;
  }

  &-div-icon { background: transparent; }
  &-editing-icon { border-radius: 3px; }
}

.lvml {
  position: absolute;
  display: inline-block;
}

.leaflet-popup {
  position: absolute;
  pointer-events: none;

  &-content-wrapper {
    padding: 1px;
    text-align: left;
    pointer-events: all;
  }

  &-content {
    padding: 2ch;
    margin: 0;
    line-height: inherit;
  }

  &-close-button + &-content-wrapper &-popup-content { padding-top: 15px; }

  &-tip-container {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 auto;
  }

  &-tip {
    width: 0;
    height: 0;
    margin: 0;
    border-top: 10px solid var(--background);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    box-shadow: none;
  }

  &-close-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    // text-indent: -999em;
    pointer-events: all;

    &:hover {
      background-color: var(--accent);
    }
  }

  &-scrolled { overflow: auto; }
}

.leaflet-tooltip {
  position: absolute;
  padding: 5px;
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
  background-color: var(--background);
  border: 1px solid var(--foreground);
  border-radius: 3px;

  &.leaflet-clickable {
    pointer-events: auto;
    cursor: pointer;
  }

  &-bottom::before,
  &-left::before,
  &-right::before,
  &-top::before {
    position: absolute;
    pointer-events: none;
    content: '';
    background: 0 0;
    border: 5px solid transparent;
  }

  &-bottom {
    margin-top: 5px;

    &::before {
      top: 0;
      margin-top: -15px;
      margin-left: -5px;
      border-bottom-color: currentcolor;
    }
  }

  &-top {
    margin-top: -5px;

    &::before {
      bottom: 0;
      margin-bottom: -10px;
      border-top-color: currentcolor;
    }
  }

  &-bottom::before,
  &-top::before {
    left: 50%;
    margin-left: -5px;
  }

  &-left {
    margin-left: -5px;

    &::before {
      right: 0;
      margin-right: -10px;
      border-left-color: currentcolor;
    }
  }

  &-right {
    margin-left: 5px;

    &::before {
      left: 0;
      margin-left: -10px;
      border-right-color: currentcolor;
    }
  }

  &-left::before,
  &-right::before {
    top: 50%;
    margin-top: -5px;
  }
}

.leaflet-bar a,
.leaflet-control-layers-toggle,
.leaflet-popup-close-button,
.map-tooltip.closable .close,
.mapbox-button-icon::before,
.mapbox-icon {
  --icon-size: 26px;

  display: inline-block;
  inline-size: var(--icon-size);
  block-size: var(--icon-size);
  font-size: var(--icon-size);
  line-height: 1;
  vertical-align: middle;
  content: '';
}
.leaflet-bar a { display: block; }

/* stylelint-disable-next-line selector-max-specificity */
#map {
  inline-size: calc(100% - var(--spacer-4) * 2);
  block-size: 100%;
  margin: 0 auto;
  font: inherit;

  @include config.respond('tablet') {
    inline-size: 100%;
  }
}

.leaflet-bar {
  display: flex;
  flex-direction: column;

  > * + * { margin-block-start: var(--icon-size); }

  .svg-inline {
    display: flex;
    inline-size: 100%;
    block-size: 100%;
    filter: drop-shadow(-2px 3px 2px hsl(0 0% 0% / 0.4));
    align-items: center;
    justify-content: space-around;

    &:is(:hover, :focus) { filter: brightness(120%); }
  }

  a:not([class*='disabled']):focus { transform: scale(0.8); }
}

.marker-icon {
  filter: drop-shadow(-2px 3px 2px hsl(0 0% 0% / 0.4));
  transition: filter 600ms var(--easing);

  &:is(:hover, :focus) {
    filter:
      drop-shadow(-2px 3px 2px hsl(0 0% 0% / 0.4))
      brightness(120%);
  }
}

.microdata-popup {
  .leaflet-popup-content-wrapper {
    color: var(--foreground);
    background-color: var(--background);
    border-radius: 0.5rem;
  }

  .leaflet-popup-content {
    h4 {
      --px-size: 18;

      margin: 0;
      font-size: var(--px2rem);
      line-height: calc(1ex / 0.37);
    }

    b { font: inherit; }

    span + span { display: block; }

    article {
      display: flex;
      flex-direction: column;

      > * + * { padding-block-start: 1em; }
    }
  }
}
